.message-wrapper {
  width: 100%;
  .message-container {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;

    .message-loading {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .no-message-box {
      width: 60%;
      height: 100%;
    }

    .no-info-chat {
      flex: 1;
      height: 100%;
    }
  }
}
